<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.fashionbrot.core.mapper.LogMapper">


    <resultMap type="com.github.fashionbrot.core.entity.LogEntity" id="logMap">
            <result property="id" column="id"/>
            <result property="requestDesc" column="request_desc"/>
            <result property="requestUrl" column="request_url"/>
            <result property="requestMethod" column="request_method"/>
            <result property="requestIp" column="request_ip"/>
            <result property="requestParam" column="request_param"/>
            <result property="targetMethod" column="target_method"/>
            <result property="logType" column="log_type"/>
            <result property="interfaceType" column="interface_type"/>
            <result property="createId" column="create_id"/>
            <result property="createDate" column="create_date"/>
            <result property="delFlag" column="del_flag"/>
    </resultMap>

    <resultMap type="com.github.fashionbrot.core.dto.LogDTO" id="logDtoMap">
            <result property="id" column="id"/>
            <result property="requestDesc" column="request_desc"/>
            <result property="requestUrl" column="request_url"/>
            <result property="requestMethod" column="request_method"/>
            <result property="requestIp" column="request_ip"/>
            <result property="requestParam" column="request_param"/>
            <result property="targetMethod" column="target_method"/>
            <result property="logType" column="log_type"/>
            <result property="interfaceType" column="interface_type"/>
            <result property="createId" column="create_id"/>
            <result property="createName" column="create_name"/>
            <result property="createDate" column="create_date"/>
            <result property="exception" column="exception"/>
    </resultMap>

    <sql id="allSql">
        id,request_desc,request_url,request_method,request_ip,request_param,target_method,log_type,interface_type,create_id,create_name,create_date,del_flag
    </sql>


    <select id="selectListByReq" parameterType="com.github.fashionbrot.common.req.LogReq" resultMap="logDtoMap">

        select a.id,
        a.exception,
        a.request_desc,
        a.request_url,
        a.request_method,
        a.request_ip,
        a.request_param,
        a.target_method,
        a.log_type,
        a.interface_type,
        a.create_id,
        b.real_name as create_name,
        a.create_date
        from sys_log a
        left join sys_user_info b on a.create_id= b.id
        where a.del_flag=0 and a.interface_type=1
        <if test="startTime!=null">
            <![CDATA[
                and a.create_date >= #{startTime}
                 ]]>
        </if>
        <if test="endTime!=null">
            <![CDATA[
                and a.create_date <= #{endTime}
                ]]>
        </if>
        <if test="logType!=null">
            and a.log_type =#{logType}
        </if>
        <if test="query!=null and query!=''">
            and a.request_param like concat('%',#{query},'%')
        </if>
        order by a.id desc

    </select>

</mapper>