<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.fashionbrot.core.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.fashionbrot.core.entity.Menu">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_level" property="menuLevel" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="menu_url" property="menuUrl" />
        <result column="parent_menu_id" property="parentMenuId" />
        <result column="priority" property="priority" />
        <result column="target" property="target"/>
        <result column="visible" property="visible"/>
        <result column="is_refresh" property="isRefresh"/>
        <result column="icon" property="icon"/>
        <result column="code" property="code"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, menu_name, menu_level, create_date, update_date, menu_url, parent_menu_id, priority
    </sql>


    <select id="selectMenuRole" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT a.id,a.parent_menu_id,a.menu_name,a.menu_level,a.priority,a.target,a.visible,a.is_refresh,a.icon,a.code,a.menu_url
        FROM  sys_menu a
        INNER JOIN  sys_menu_role_relation b on a.id=b.menu_id
        INNER JOIN  sys_role_info c on c.id=b.role_id  and c.del_flag=0
        WHERE  b.role_id=#{roleId} and c.`status`=1  and a.del_flag=0
        ORDER BY a.priority ASC
    </select>

    <select id="selectMenuRoleByUser" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT e.id,e.menu_name,e.menu_level,e.menu_url,e.parent_menu_id,e.priority,e.code
        FROM  sys_user_role_relation b
        INNER JOIN sys_role_info c on c.id=b.role_id   and c.del_flag=0
        INNER JOIN sys_menu_role_relation d on d.role_id=c.id
        INNER JOIN sys_menu e on e.id=d.menu_id   and e.del_flag=0
        WHERE b.user_id=#{userId} and c.`status`='1'
        ORDER BY e.priority ASC
    </select>


</mapper>
